*,
*::after,
*::before {
margin: 0;
padding: 0;
box-sizing: border-box;

}

.landing-page {
    background-image: url("https://i.postimg.cc/sgChFb7L/maxresdefault.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.nav-icons{
    list-style-type:  none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline;

}
li{
    float: left;

} 
a{
    padding: 8px;
    text-decoration: none;
}
li a{
    text-decoration: none;
    text-align: center;
    color: darksalmon;
}

#products{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 50px;
    margin-bottom: 30px;
    margin-top: 20px;
    padding: 10px;
}

.table{
    margin-top: 20px;
    margin-bottom: 30px;
}
.btn {
    border-radius: 50%;

}
.text {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    color:black;
}
#sort, #addition {
    size: 400px;
}

.author {
    color: black;
}

.page {
    background-color: darksalmon;
}

#table{
    padding: 5px;

}

table, th, td {
    border:2px solid;
    width: 90vw;
    margin: 5px;
}
table{
    border-collapse: collapse;
    background-color: darksalmon;
}

#checkoutInput {
    border-radius: 8%;
    width:80%;
}

.data-shadow {
    display: flex;
    align-items: center;
    font-size: 200px;
    margin-bottom: 12px;
    margin-top: 30px;
    padding: 90px;
    opacity: 0.8;
}

@keyframes text{
    from {color: black;}
    to{color: darksalmon;}

}

.data-shadow{
    width:100%;
    color: black;
    animation-name: text;
    animation-duration: 4s;
}
.col-md-8 {
    color: darksalmon;
}
@media only screen and ( max-width:300px) {
    table {
        width: 80vw;
    }

    table,th, td {
        border: 1px solid;
        padding:2px;
    }
}


@media only screen and ( max-width:720px) {
    .landing-page {
        background-image: url("https://i.postimg.cc/sgChFb7L/maxresdefault.jpg");
        height: 100vh;
        background-size: cover;
        background-position: center;
    }
    #products {
        grid-template-columns: repeat(4,1fr);
        gap: 80px;
        margin-top: 20px;
        margin-bottom: 30px;
        padding:20px;
    }
    }
